.timeline-table {
    font-family: tahoma, arial, sans-serif;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
    min-width: 1px;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;

}

.timeline-table-column_container {
    overflow-x: auto;
    min-width: 100%;
    white-space: nowrap;
}

.timeline-table div {
    box-sizing: border-box;
}

.timeline-row-cool-range {
    padding: 4px;
    font-size: 12px;
}


.timeline-row_content {
    font-size: 12px;
}

.timeline-column-clone_container {
    display: inline-block;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: none;
}

.timeline-column-clone_container .timeline-column {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;

}

.timeline-column-clone_container .timeline-column:first-child {
    border-left: none;
}

.timeline-column {
    position: relative;
    width: 100px;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: none;
    display: inline-block;
    vertical-align: top;
}



.timeline-time_row {
    position: absolute;
    font-size: 12px;
    height: 20px;
    top: 100%;
    margin-top: -9px;
    line-height: 20px;
}

.timeline-time_row_first {
    top: 0;
}

.timeline-header {
    padding-left: 44px;
}

.timeline-table-columns {
    position: relative;
    padding-left: 44px
}

.timeline-column_header {
    position: relative;
    display: inline-block;
}

.timeline-column_header_clone_container {
    display: inline-block;
}

.timeline-time_column {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 10px;
    width: 44px;
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.timeline-time_column  .timeline-row {
    border: none;
}

.timeline-row_container {

}

.timeline-column.timeline-column_active >  .timeline-row-cool {
    opacity: 0.4;
}

.timeline-column.timeline-column_active >  .timeline-row-cool.active {
    opacity: 1;
}

.timeline-column.timeline-column_active >  .timeline-row-cool.timeline-row-cool-disabled {
    opacity: 1;
    z-index: 0;
}

.timeline-row-cool.timeline-row-cool-disabled:hover {
    z-index: 0;
}

.timeline-row-cool {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.66);
    position: absolute !important;
    background: rgba(187, 193, 20, 0.37);
    z-index: 1;
}

.timeline-row-cool-disabled {
    background: rgb(250,250,250);
    opacity: 1;
    border: none;
    z-index: 0;
}

.timeline-row-cool:hover {
    z-index: 2;
}

.timeline-row:first-child {
    border-top: none;
}

.timeline-pointer {
    height: 1px;
    border-top: 1px dashed rgba(0, 181, 255, 0.27);
    position: absolute;
    z-index: 100;
    display: none;
    left: 44px;
    right: 0;
}

.timeline-pointer_time {
    position: absolute;
    left: -44px;
    background: white;
    top: -10px;
}

.timeline-row {
    position: relative;
    border-top: 1px dashed rgba(0, 0, 0, 0.15);
}

.timeline-table-romove_row {
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 10px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
}

.timeline-table-row_icons {
    color: rgba(0,0,0,0.5)
}

.timeline-table-row_icons:hover {
    color: rgba(0,0,0,1)
}

.timeline-table-cool_row_edit_tooltip {
    color: black;

}

.timeline-table-cool_row_edit_tooltip {
    background: white;
    display: block;
    width: 150px;
    height: 125px;
}


.timeline-table-edit_row {
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 10px;
    top: 5px;
    right: 20px;
    cursor: pointer;
    position: absolute;
}

.selector_box {
    background: rgba(74, 180, 199, 0.66);
    border: 1px solid #6FDEF9;
    position: absolute;
    z-index: 1;
    display: none;
    left: 0px;
    right: 0px;
}

.no-select {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.timeline-row-cool {
    white-space: normal;
}

.timeline-header {
    white-space: nowrap;
    overflow: hidden;
}